services:
  postgres:
    image: postgres:17.5-alpine
    container_name: simplebank-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: simple_bank
    volumes:
      - data-volume:/var/lib/postgresql/data

volumes:
  data-volume:
